<app-header class="h-min"/>
@if (!initialState) {
  <div class="flex-col md:flex-row flex p-16 justify-around items-center h-1/2 w-full">
    @if (!loader) {
      @for (card of cardsDetails; track card.data.uid; let first = $first) {
        <app-card class="md:w-2/5 h-full" [cardDetails]="card"/>
        @if (first) {
          <p class="text-3xl text-themebg font-bold">VS</p>
        }
      }
    } @else {
      <mat-spinner/>
    }
  </div>
  <app-counter/>
} @else {
  <div class="flex justify-center items-center h-full">
    @if (!(appPrefetched$ | async)) {
      <h1 class="text-3xl">
        Fetching data...
      </h1>
    } @else {
      <h1 class="text-3xl">
        Press Play to start
      </h1>
    }
  </div>
}
